    <%- include('partials/header');%>

<body>
    <div class="navbar navbar-light bg-primary">
        <img src="/img/guia.png" alt="Imagem do Guia do Programador">
    </div>

    <div class="container">
        <hr>
        <h2><%= pergunta.titulo%></h2>
        <h4><%= pergunta.descricao%></h4>
        <hr>


    </div>
</body>

    <%- include('partials/footer');%>